In [152]:
import os
import pandas as pd
import numpy as np
import requests as rq
from bs4 import BeautifulSoup
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [75]:
load_dotenv('./.env')
gkey = os.getenv('gkey')
pkey = os.getenv('pkey')
engine = create_engine(f'postgresql://postgres:{pkey}@localhost:5432/etl')

# Scraping for borough, neighborhood, and zipcodes in New York, NY

In [133]:
url = 'https://www.health.ny.gov/statistics/cancer/registry/appendix/neighborhoods.htm'
response = rq.get(url)
soup = BeautifulSoup(response.text, 'lxml')

In [134]:
boroughs = [b.text for b in soup.find_all('td', headers='header1')]
neighborhoods = [n.text for n in soup.find_all('td', headers='header2')]

# zipcodes grouped by neighborhood (2d)
zipcodes = [z.text.split(',') for z in soup.find_all('td', headers='header3')] 

# unique zipcodes (1d)
zipcodes_1d = [z.strip(' ') for zip_list in zipcodes for z in zip_list]

In [135]:
borough_df = pd.DataFrame(boroughs, columns=['borough'])
borough_df['boroughID'] = np.arange(borough_df.shape[0])
borough_df = borough_df[['boroughID', 'borough']]
borough_df

   boroughID        borough
0          0          Bronx
1          1       Brooklyn
2          2      Manhattan
3          3         Queens
4          4  Staten Island

In [136]:
neighborhood_df = pd.DataFrame(neighborhoods, columns=['neighborhood_name'])

In [137]:
zipcode_df = pd.DataFrame(zipcodes_1d, columns=['zipcode'])
zipcode_df = zipcode_df.sort_values('zipcode')
zipcode_df['zipcodeID'] = np.arange(zipcode_df.shape[0])
zipcode_df = zipcode_df[['zipcodeID', 'zipcode']]
zipcode_df.to_csv('Resources/zipcodes.csv')
zipcode_df.head()

    zipcodeID zipcode
67          0   10001
88          1   10002
89          2   10003
82          3   10004
83          4   10005

In [153]:
def matchZipID(df, colname):
    ids = []
    for zipcode in df[colname]:
        for i, code in enumerate(zipcode_df.zipcode):
            if zipcode == code:
                ids.append(zipcode_df.iloc[i, 0].round())
#                 print(zipcode_df.iloc[i, 0].round())
    return pd.DataFrame(ids)

# Getting New York Subway addresses/zipcodes via Google reverse geocoding API

In [85]:
subway_df = pd.read_csv('Resources/DOITT_SUBWAY_STATION_01_13SEPT2010.csv')
subway_df

,URL,OBJECTID,NAME,the_geom,LINE,NOTES
0,http://web.mta.info/nyct/service/,1,Astor Pl,POINT (-73.99106999861966 40.73005400028978),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
1,http://web.mta.info/nyct/service/,2,Canal St,POINT (-74.00019299927328 40.71880300107709),4-6-6 Express,"4 nights, 6-all times, 6 Express-weekdays AM s..."
2,http://web.mta.info/nyct/service/,3,50th St,POINT (-73.98384899986625 40.76172799961419),1-2,"1-all times, 2-nights"
3,http://web.mta.info/nyct/service/,4,Bergen St,POINT (-73.97499915116808 40.68086213682956),2-3-4,"4-nights, 3-all other times, 2-all times"
4,http://web.mta.info/nyct/service/,5,Pennsylvania Ave,POINT (-73.89488591154061 40.66471445143568),3-4,"4-nights, 3-all other times"
...,...,...,...,...,...,...
468,http://web.mta.info/nyct/service/,469,Coney Island - Stillwell Av,POINT (-73.9812359981396 40.57728100006751),D-F-N-Q,"D,F,N,Q-all times"
469,http://web.mta.info/nyct/service/,470,34th St - Hudson Yards,POINT (-74.00219709442206 40.75544635961596),7-7 Express,"7-all times, 7 Express-rush hours AM westbound..."
470,http://web.mta.info/nyct/service/,641,72nd St,POINT (-73.95836178682246 40.76880251014895),Q,Q-all times
471,http://web.mta.info/nyct/service/,642,86th St,POINT (-73.95177090964917 40.77786104333163),Q,Q-all times
472,http://web.mta.info/nyct/service/,643,96th St,POINT (-73.9470660219183 40.784236650177654),Q,Q-all times

In [87]:
#long lat 
subway_responses = []
for i, coord in enumerate(subway_df.the_geom):
    coords = coord.strip('POINT ()').split(' ')
    coords = (',').join([coords[1], coords[0]]).strip(' ') #ensuring no spacing in coords 
    
    url = f'https://maps.googleapis.com/maps/api/geocode/json?latlng={coords}&key={gkey}'
    print(f'Reverse geocoding station with ID {subway_df.iloc[i,1]}')
    subway_responses.append(rq.get(url))

Reverse geocoding station with ID 1
Reverse geocoding station with ID 2
Reverse geocoding station with ID 3
Reverse geocoding station with ID 4
Reverse geocoding station with ID 5
Reverse geocoding station with ID 6
Reverse geocoding station with ID 7
Reverse geocoding station with ID 8
Reverse geocoding station with ID 9
Reverse geocoding station with ID 10
Reverse geocoding station with ID 11
Reverse geocoding station with ID 12
Reverse geocoding station with ID 13
Reverse geocoding station with ID 14
Reverse geocoding station with ID 15
Reverse geocoding station with ID 16
Reverse geocoding station with ID 17
Reverse geocoding station with ID 18
Reverse geocoding station with ID 19
Reverse geocoding station with ID 20
Reverse geocoding station with ID 21
Reverse geocoding station with ID 22
Reverse geocoding station with ID 23
Reverse geocoding station with ID 24
Reverse geocoding station with ID 25
Reverse geocoding station with ID 26
Reverse geocoding station with ID 27
Reverse geocoding station with ID 28
Reverse geocoding station with ID 29
Reverse geocoding station with ID 30
Reverse geocoding station with ID 31
Reverse geocoding station with ID 32
Reverse geocoding station with ID 33
Reverse geocoding station with ID 34
Reverse geocoding station with ID 35
Reverse geocoding station with ID 36
Reverse geocoding station with ID 37
Reverse geocoding station with ID 38
Reverse geocoding station with ID 39
Reverse geocoding station with ID 40
Reverse geocoding station with ID 41
Reverse geocoding station with ID 42
Reverse geocoding station with ID 43
Reverse geocoding station with ID 44
Reverse geocoding station with ID 45
Reverse geocoding station with ID 46
Reverse geocoding station with ID 47
Reverse geocoding station with ID 48
Reverse geocoding station with ID 49
Reverse geocoding station with ID 50
Reverse geocoding station with ID 51
Reverse geocoding station with ID 52
Reverse geocoding station with ID 53
Reverse geocoding station with ID 54
Reverse geocoding station with ID 55
Reverse geocoding station with ID 56
Reverse geocoding station with ID 57
Reverse geocoding station with ID 58
Reverse geocoding station with ID 59
Reverse geocoding station with ID 60
Reverse geocoding station with ID 61
Reverse geocoding station with ID 62
Reverse geocoding station with ID 63
Reverse geocoding station with ID 64
Reverse geocoding station with ID 65
Reverse geocoding station with ID 66
Reverse geocoding station with ID 67
Reverse geocoding station with ID 68
Reverse geocoding station with ID 69
Reverse geocoding station with ID 70
Reverse geocoding station with ID 71
Reverse geocoding station with ID 72
Reverse geocoding station with ID 73
Reverse geocoding station with ID 74
Reverse geocoding station with ID 75
Reverse geocoding station with ID 76
Reverse geocoding station with ID 77
Reverse geocoding station with ID 78
Reverse geocoding station with ID 79
Reverse geocoding station with ID 80
Reverse geocoding station with ID 81
Reverse geocoding station with ID 82
Reverse geocoding station with ID 83
Reverse geocoding station with ID 84
Reverse geocoding station with ID 85
Reverse geocoding station with ID 86
Reverse geocoding station with ID 87
Reverse geocoding station with ID 88
Reverse geocoding station with ID 89
Reverse geocoding station with ID 90
Reverse geocoding station with ID 91
Reverse geocoding station with ID 92
Reverse geocoding station with ID 93
Reverse geocoding station with ID 94
Reverse geocoding station with ID 95
Reverse geocoding station with ID 96
Reverse geocoding station with ID 97
Reverse geocoding station with ID 98
Reverse geocoding station with ID 99
Reverse geocoding station with ID 100
Reverse geocoding station with ID 101
Reverse geocoding station with ID 102
Reverse geocoding station with ID 103
Reverse geocoding station with ID 104
Reverse geocoding station with ID 105
Reverse geocoding station with ID 106
Reverse geocoding station with ID 107
Reverse geocoding station with ID 108
Reverse geocoding station with ID 109
Reverse geocoding station with ID 110
Reverse geocoding station with ID 111
Reverse geocoding station with ID 112
Reverse geocoding station with ID 113
Reverse geocoding station with ID 114
Reverse geocoding station with ID 115
Reverse geocoding station with ID 116
Reverse geocoding station with ID 117
Reverse geocoding station with ID 118
Reverse geocoding station with ID 119
Reverse geocoding station with ID 120
Reverse geocoding station with ID 121
Reverse geocoding station with ID 122
Reverse geocoding station with ID 123
Reverse geocoding station with ID 124
Reverse geocoding station with ID 125
Reverse geocoding station with ID 126
Reverse geocoding station with ID 127
Reverse geocoding station with ID 128
Reverse geocoding station with ID 129
Reverse geocoding station with ID 130
Reverse geocoding station with ID 131
Reverse geocoding station with ID 132
Reverse geocoding station with ID 133
Reverse geocoding station with ID 134
Reverse geocoding station with ID 135
Reverse geocoding station with ID 136
Reverse geocoding station with ID 137
Reverse geocoding station with ID 138
Reverse geocoding station with ID 139
Reverse geocoding station with ID 140
Reverse geocoding station with ID 141
Reverse geocoding station with ID 142
Reverse geocoding station with ID 143
Reverse geocoding station with ID 144
Reverse geocoding station with ID 145
Reverse geocoding station with ID 146
Reverse geocoding station with ID 147
Reverse geocoding station with ID 148
Reverse geocoding station with ID 149
Reverse geocoding station with ID 150
Reverse geocoding station with ID 151
Reverse geocoding station with ID 152
Reverse geocoding station with ID 153
Reverse geocoding station with ID 154
Reverse geocoding station with ID 155
Reverse geocoding station with ID 156
Reverse geocoding station with ID 157
Reverse geocoding station with ID 158
Reverse geocoding station with ID 159
Reverse geocoding station with ID 160
Reverse geocoding station with ID 161
Reverse geocoding station with ID 162
Reverse geocoding station with ID 163
Reverse geocoding station with ID 164
Reverse geocoding station with ID 165
Reverse geocoding station with ID 166
Reverse geocoding station with ID 167
Reverse geocoding station with ID 168
Reverse geocoding station with ID 169
Reverse geocoding station with ID 170
Reverse geocoding station with ID 171
Reverse geocoding station with ID 172
Reverse geocoding station with ID 173
Reverse geocoding station with ID 174
Reverse geocoding station with ID 175
Reverse geocoding station with ID 176
Reverse geocoding station with ID 177
Reverse geocoding station with ID 178
Reverse geocoding station with ID 179
Reverse geocoding station with ID 180
Reverse geocoding station with ID 181
Reverse geocoding station with ID 182
Reverse geocoding station with ID 183
Reverse geocoding station with ID 184
Reverse geocoding station with ID 185
Reverse geocoding station with ID 186
Reverse geocoding station with ID 187
Reverse geocoding station with ID 188
Reverse geocoding station with ID 189
Reverse geocoding station with ID 190
Reverse geocoding station with ID 191
Reverse geocoding station with ID 192
Reverse geocoding station with ID 193
Reverse geocoding station with ID 194
Reverse geocoding station with ID 195
Reverse geocoding station with ID 196
Reverse geocoding station with ID 197
Reverse geocoding station with ID 198
Reverse geocoding station with ID 199
Reverse geocoding station with ID 200
Reverse geocoding station with ID 201
Reverse geocoding station with ID 202
Reverse geocoding station with ID 203
Reverse geocoding station with ID 204
Reverse geocoding station with ID 205
Reverse geocoding station with ID 206
Reverse geocoding station with ID 207
Reverse geocoding station with ID 208
Reverse geocoding station with ID 209
Reverse geocoding station with ID 210
Reverse geocoding station with ID 211
Reverse geocoding station with ID 212
Reverse geocoding station with ID 213
Reverse geocoding station with ID 214
Reverse geocoding station with ID 215
Reverse geocoding station with ID 216
Reverse geocoding station with ID 217
Reverse geocoding station with ID 218
Reverse geocoding station with ID 219

Reverse geocoding station with ID 220
Reverse geocoding station with ID 221
Reverse geocoding station with ID 222
Reverse geocoding station with ID 223
Reverse geocoding station with ID 224
Reverse geocoding station with ID 225
Reverse geocoding station with ID 226
Reverse geocoding station with ID 227
Reverse geocoding station with ID 228
Reverse geocoding station with ID 229
Reverse geocoding station with ID 230
Reverse geocoding station with ID 231
Reverse geocoding station with ID 232
Reverse geocoding station with ID 233
Reverse geocoding station with ID 234
Reverse geocoding station with ID 235
Reverse geocoding station with ID 236
Reverse geocoding station with ID 237
Reverse geocoding station with ID 238
Reverse geocoding station with ID 239
Reverse geocoding station with ID 240
Reverse geocoding station with ID 241
Reverse geocoding station with ID 242
Reverse geocoding station with ID 243
Reverse geocoding station with ID 244
Reverse geocoding station with ID 245
Reverse geocoding station with ID 246
Reverse geocoding station with ID 247
Reverse geocoding station with ID 248
Reverse geocoding station with ID 249
Reverse geocoding station with ID 250
Reverse geocoding station with ID 251
Reverse geocoding station with ID 252
Reverse geocoding station with ID 253
Reverse geocoding station with ID 254
Reverse geocoding station with ID 255
Reverse geocoding station with ID 256
Reverse geocoding station with ID 257
Reverse geocoding station with ID 258
Reverse geocoding station with ID 259
Reverse geocoding station with ID 260
Reverse geocoding station with ID 261
Reverse geocoding station with ID 262
Reverse geocoding station with ID 263
Reverse geocoding station with ID 264
Reverse geocoding station with ID 265
Reverse geocoding station with ID 266
Reverse geocoding station with ID 267
Reverse geocoding station with ID 268
Reverse geocoding station with ID 269
Reverse geocoding station with ID 270
Reverse geocoding station with ID 271
Reverse geocoding station with ID 272
Reverse geocoding station with ID 273
Reverse geocoding station with ID 274
Reverse geocoding station with ID 275
Reverse geocoding station with ID 276
Reverse geocoding station with ID 277
Reverse geocoding station with ID 278
Reverse geocoding station with ID 279
Reverse geocoding station with ID 280
Reverse geocoding station with ID 281
Reverse geocoding station with ID 282
Reverse geocoding station with ID 283
Reverse geocoding station with ID 284
Reverse geocoding station with ID 285
Reverse geocoding station with ID 286
Reverse geocoding station with ID 287
Reverse geocoding station with ID 288
Reverse geocoding station with ID 289
Reverse geocoding station with ID 290
Reverse geocoding station with ID 291
Reverse geocoding station with ID 292
Reverse geocoding station with ID 293
Reverse geocoding station with ID 294
Reverse geocoding station with ID 295
Reverse geocoding station with ID 296
Reverse geocoding station with ID 297
Reverse geocoding station with ID 298
Reverse geocoding station with ID 299
Reverse geocoding station with ID 300
Reverse geocoding station with ID 301
Reverse geocoding station with ID 302
Reverse geocoding station with ID 303
Reverse geocoding station with ID 304
Reverse geocoding station with ID 305
Reverse geocoding station with ID 306
Reverse geocoding station with ID 307
Reverse geocoding station with ID 308
Reverse geocoding station with ID 309
Reverse geocoding station with ID 310
Reverse geocoding station with ID 311
Reverse geocoding station with ID 312
Reverse geocoding station with ID 313
Reverse geocoding station with ID 314
Reverse geocoding station with ID 315
Reverse geocoding station with ID 316
Reverse geocoding station with ID 317
Reverse geocoding station with ID 318
Reverse geocoding station with ID 319
Reverse geocoding station with ID 320
Reverse geocoding station with ID 321
Reverse geocoding station with ID 322
Reverse geocoding station with ID 323
Reverse geocoding station with ID 324
Reverse geocoding station with ID 325
Reverse geocoding station with ID 326
Reverse geocoding station with ID 327
Reverse geocoding station with ID 328
Reverse geocoding station with ID 329
Reverse geocoding station with ID 330
Reverse geocoding station with ID 331
Reverse geocoding station with ID 332
Reverse geocoding station with ID 333
Reverse geocoding station with ID 334
Reverse geocoding station with ID 335
Reverse geocoding station with ID 336
Reverse geocoding station with ID 337
Reverse geocoding station with ID 338
Reverse geocoding station with ID 339
Reverse geocoding station with ID 340
Reverse geocoding station with ID 341
Reverse geocoding station with ID 342
Reverse geocoding station with ID 343
Reverse geocoding station with ID 344
Reverse geocoding station with ID 345
Reverse geocoding station with ID 346
Reverse geocoding station with ID 347
Reverse geocoding station with ID 348
Reverse geocoding station with ID 349
Reverse geocoding station with ID 350
Reverse geocoding station with ID 351
Reverse geocoding station with ID 352
Reverse geocoding station with ID 353
Reverse geocoding station with ID 354
Reverse geocoding station with ID 355
Reverse geocoding station with ID 356
Reverse geocoding station with ID 357
Reverse geocoding station with ID 358
Reverse geocoding station with ID 359
Reverse geocoding station with ID 360
Reverse geocoding station with ID 361
Reverse geocoding station with ID 362
Reverse geocoding station with ID 363
Reverse geocoding station with ID 364
Reverse geocoding station with ID 365
Reverse geocoding station with ID 366
Reverse geocoding station with ID 367
Reverse geocoding station with ID 368
Reverse geocoding station with ID 369
Reverse geocoding station with ID 370
Reverse geocoding station with ID 371
Reverse geocoding station with ID 372
Reverse geocoding station with ID 373
Reverse geocoding station with ID 374
Reverse geocoding station with ID 375
Reverse geocoding station with ID 376
Reverse geocoding station with ID 377
Reverse geocoding station with ID 378
Reverse geocoding station with ID 379
Reverse geocoding station with ID 380
Reverse geocoding station with ID 381
Reverse geocoding station with ID 382
Reverse geocoding station with ID 383
Reverse geocoding station with ID 384
Reverse geocoding station with ID 385
Reverse geocoding station with ID 386
Reverse geocoding station with ID 387
Reverse geocoding station with ID 388
Reverse geocoding station with ID 389
Reverse geocoding station with ID 390
Reverse geocoding station with ID 391
Reverse geocoding station with ID 392
Reverse geocoding station with ID 393
Reverse geocoding station with ID 394
Reverse geocoding station with ID 395
Reverse geocoding station with ID 396
Reverse geocoding station with ID 397
Reverse geocoding station with ID 398
Reverse geocoding station with ID 399
Reverse geocoding station with ID 400
Reverse geocoding station with ID 401
Reverse geocoding station with ID 402
Reverse geocoding station with ID 403
Reverse geocoding station with ID 404
Reverse geocoding station with ID 405
Reverse geocoding station with ID 406
Reverse geocoding station with ID 407
Reverse geocoding station with ID 408
Reverse geocoding station with ID 409
Reverse geocoding station with ID 410
Reverse geocoding station with ID 411
Reverse geocoding station with ID 412
Reverse geocoding station with ID 413
Reverse geocoding station with ID 414
Reverse geocoding station with ID 415
Reverse geocoding station with ID 416
Reverse geocoding station with ID 417
Reverse geocoding station with ID 418
Reverse geocoding station with ID 419
Reverse geocoding station with ID 420
Reverse geocoding station with ID 421
Reverse geocoding station with ID 422
Reverse geocoding station with ID 423
Reverse geocoding station with ID 424
Reverse geocoding station with ID 425
Reverse geocoding station with ID 426
Reverse geocoding station with ID 427
Reverse geocoding station with ID 428
Reverse geocoding station with ID 429
Reverse geocoding station with ID 430
Reverse geocoding station with ID 431
Reverse geocoding station with ID 432
Reverse geocoding station with ID 433
Reverse geocoding station with ID 434
Reverse geocoding station with ID 435

Reverse geocoding station with ID 436
Reverse geocoding station with ID 437
Reverse geocoding station with ID 438
Reverse geocoding station with ID 439
Reverse geocoding station with ID 440
Reverse geocoding station with ID 441
Reverse geocoding station with ID 442
Reverse geocoding station with ID 443
Reverse geocoding station with ID 444
Reverse geocoding station with ID 445
Reverse geocoding station with ID 446
Reverse geocoding station with ID 447
Reverse geocoding station with ID 448
Reverse geocoding station with ID 449
Reverse geocoding station with ID 450
Reverse geocoding station with ID 451
Reverse geocoding station with ID 452
Reverse geocoding station with ID 453
Reverse geocoding station with ID 454
Reverse geocoding station with ID 455
Reverse geocoding station with ID 456
Reverse geocoding station with ID 457
Reverse geocoding station with ID 458
Reverse geocoding station with ID 459
Reverse geocoding station with ID 460
Reverse geocoding station with ID 461
Reverse geocoding station with ID 462
Reverse geocoding station with ID 463
Reverse geocoding station with ID 464
Reverse geocoding station with ID 465
Reverse geocoding station with ID 466
Reverse geocoding station with ID 467
Reverse geocoding station with ID 468
Reverse geocoding station with ID 469
Reverse geocoding station with ID 470
Reverse geocoding station with ID 641
Reverse geocoding station with ID 642
Reverse geocoding station with ID 643

In [88]:
subway_address_cols = {
    'Address': [],
    'Zipcode': []
}

for resp in subway_responses:
    json = resp.json()
    try:
        full_address = json['results'][0]['formatted_address'].split(',')
        # Street full_address
        if 'New York' in full_address[0] + full_address[1]:
            subway_address_cols['Address'].append(full_address[0])
        else:
            subway_address_cols['Address'].append(full_address[0] + full_address[1])
        # zipcode    
        subway_address_cols['Zipcode'].append(full_address[-2].strip('NY '))
    except IndexError:
        subway_address_cols['Zipcode'].append(np.nan)
        subway_address_cols['Address'].append(np.nan)

In [89]:
subway_addresses_df = pd.DataFrame(subway_address_cols)
subway_addresses_df['OBJECTID'] = subway_df['OBJECTID']

In [151]:
subway_final_df = pd.merge(subway_df, subway_addresses_df, on='OBJECTID', how='inner')
subway_final_df = subway_final_df[['OBJECTID', 'NAME', 'Address', 'Zipcode', 'LINE']]
subway_final_df = subway_final_df[subway_final_df.Zipcode != '']
subway_final_df = subway_final_df.rename(columns={
    'OBJECTID': 'stationID', 
    'NAME': 'stationname',
    'Zipcode': 'zipcodeID',
    'Address': 'address',
    'LINE': 'line'})
# subway_final_df = subway_final_df.dropna()
subway_final_df['zipcodeID'] = matchZipID(subway_final_df, 'zipcodeID')
subway_final_df = subway_final_df.dropna()
subway_final_df['zipcodeID'] = subway_final_df['zipcodeID'].apply(round)
subway_final_df

,stationID,stationname,address,zipcodeID,line
0,1,Astor Pl,E 8th St & Lafayette St,2,4-6-6 Express
1,2,Canal St,127A Lafayette St,11,4-6-6 Express
2,3,50th St,1638 Broadway,16,1-2
3,4,Bergen St,Bergen Street Station Brooklyn,103,2-3-4
4,5,Pennsylvania Ave,601 Livonia Ave Brooklyn,93,3-4
...,...,...,...,...,...
452,453,High St,High Street - Brooklyn Bridge Brooklyn,32,A-C
453,454,Lafayette Ave,Fulton St/S Portland Av Brooklyn,110,A-C
454,455,President St,845A Nostrand Ave. Brooklyn,0,2-5
456,457,Bleecker St,Bleecker St,25,4-6-6 Express
457,458,103rd St,Lexington Av/E 104 St,41,4-6-6 Express

## Uploading to postgres

In [69]:
borough_df.to_sql(name='boroughs', con=engine, if_exists='replace', index=False)

In [71]:
zipcode_df.to_sql(name='zipcodes', con=engine, if_exists='replace', index=False)

In [72]:
subway_final_df.to_sql(name='subways', con=engine, if_exists='replace', index=False)