# Transform 


* The code below outlines the Transform phase of the ETL process. The final clean dataframe reflects recorded data on residential real estate sales across Manhattan, Brooklyn, Queens, Bronx and Staten-Island from 2020.

## Set Up

In [1]:
# Import Modules
import pandas as pd
import os
from dotenv import load_dotenv
from sqlalchemy import create_engine

# Reference to config file
load_dotenv('./.env')
pkey = os.getenv('pkey');

# Create engine to connect with Postgressql
engine = create_engine(f'postgresql://postgres:{pkey}@localhost:5433/etl')

In [2]:
# Create file path
manhattan_path = "Resources/manhattan_sales.csv"
bronx_path = "Resources/bronx_sales.csv"
staten_island_path = "Resources/staten_island_sales.csv"
queens_path = "Resources/queens_sales.csv"
brooklyn_path = "Resources/brooklyn_sales.csv"

In [3]:
# Read in files
manhattan = pd.read_csv(manhattan_path)
bronx = pd.read_csv(bronx_path)
staten_island = pd.read_csv(staten_island_path)
queens = pd.read_csv(queens_path)
brooklyn = pd.read_csv(brooklyn_path)

/Users/alisonsadel/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (20,31) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

#### Display how many rows are in each dataset before clean and merge

In [4]:
manhattan_rows = len(manhattan)
bronx_rows = len(bronx)
staten_island_rows = len(staten_island)
queens_rows = len(queens)
brooklyn_rows = len(brooklyn)

print(f' Total Sales (rows) in Manhattan dataset Prior to Merge/Clean: {manhattan_rows}')
print(f' Total Sales (rows) in Staten Island dataset Prior to Merge/Clean: {staten_island_rows}')
print(f' Total Sales (rows) in The Bronx dataset Prior to Merge/Clean: {bronx_rows}')
print(f' Total Sales (rows) in The Queens dataset Prior to Merge/Clean: {queens_rows}')
print(f' Total Sales (rows) in The Brooklyn dataset Prior to Merge/Clean: {brooklyn_rows}')

 Total Sales (rows) in Manhattan dataset Prior to Merge/Clean: 11033
 Total Sales (rows) in Staten Island dataset Prior to Merge/Clean: 5728
 Total Sales (rows) in The Bronx dataset Prior to Merge/Clean: 3939
 Total Sales (rows) in The Queens dataset Prior to Merge/Clean: 18084
 Total Sales (rows) in The Brooklyn dataset Prior to Merge/Clean: 11092

## Merge Housing Dataframes

In [5]:
# Create list of csvs 
list_boroughs = [manhattan, bronx, staten_island, queens, brooklyn] 

# Join using concat( ) function
housing_df = pd.concat(list_boroughs,ignore_index=True)

In [6]:
# Display original dimensions of dataframe pre-clean
orig_rows = len(housing_df)
orig_columns = len(housing_df. columns) 
print(f' Total Sales (rows) in The New York City Real Estate dataset Prior to Merge/Clean: {orig_rows}') 
print(f' Total fields (columns) in The New York City Real Estate dataset Prior to Merge/Clean: {orig_columns}')

 Total Sales (rows) in The New York City Real Estate dataset Prior to Merge/Clean: 49876
 Total fields (columns) in The New York City Real Estate dataset Prior to Merge/Clean: 41

In [7]:
# Display first five records 
housing_df.head()

,Address,Building Name,Neighborhood,City,Price (Last Known),PPSF,R,Bd,Total Ba,MLS Ba,...,ZIP,Building Size,Lot Size,Outdoor Space,Year Built,Service Level,Building Units,Notes,Unnamed: 39,Unnamed: 40
0,"219 W 14th St, Unit 2F",219 W 14th St,Chelsea,Manhattan,"$1,646,000","$1,646",4,1,2.0,2.0,...,10011,NaN,NaN,Common Outdoor Space,1900.0,NaN,22.0,NaN,NaN,NaN
1,"315 W 70th St, Unit 6A",315 W 70th St,Upper West Side,Manhattan,"$799,000",NaN,3,1,1.0,1.0,...,10023,NaN,NaN,NaN,1963.0,"Doorman, Full-Time Doorman",185.0,NaN,NaN,NaN
2,"306 W 100th St, Unit 56",306 W 100th St,Upper West Side,Manhattan,"$670,000",NaN,4,1,1.0,1.0,...,10025,NaN,NaN,NaN,1940.0,NaN,32.0,NaN,NaN,NaN
3,"38 W 9th St, Unit 1",The Portsmouth,Greenwich Village,Manhattan,"$2,175,000",NaN,6,2,4.0,3.5,...,10011,NaN,NaN,NaN,1900.0,"Doorman, Full-Time Doorman",54.0,NaN,NaN,NaN
4,"48 W 86th St, Unit 2",48 W 86th St,Upper West Side,Manhattan,"$2,333,000","$1,296",4,2,3.0,2.5,...,10024,NaN,NaN,Juliet Balcony,1900.0,NaN,5.0,NaN,NaN,NaN

## Clean Data

#### Display columns before transformation process

In [8]:
housing_df.columns

Index(['Address', 'Building Name', 'Neighborhood', 'City',
       'Price (Last Known)', 'PPSF', 'R', 'Bd', 'Total Ba', 'MLS Ba',
       'Full Ba', 'HBa', 'Sq Ft', 'Monthly Fees', 'Monthly Fees & Taxes',
       'Taxes Per Mo.', 'MLS Property Type', 'MLS Property Subtype',
       'Compass Property Type', 'Status', 'DOM', 'Updated Date', 'Listed Date',
       'Listed Price', 'Last Asking', 'Contract Date', 'Sold Price',
       'Closed Price Verification', 'Sold Date', 'Open House',
       'Open House Type', 'ZIP', 'Building Size', 'Lot Size', 'Outdoor Space',
       'Year Built', 'Service Level', 'Building Units', 'Notes', 'Unnamed: 39',
       'Unnamed: 40'],
      dtype='object')

#### Drop Irrelevant columns

In [9]:
housing_df = housing_df.loc[:, ['Address', 'Building Name', 'Neighborhood', 'City',
       'PPSF', 'Bd','Full Ba', 'HBa', 'Sq Ft','Compass Property Type','DOM', 'Listed Date',
       'Listed Price', 'Sold Price','Sold Date', 'ZIP', 'Year Built']]  

clean_columns_01 = len(housing_df.columns)

print(f' Total fields (columns) in The New York City Real Estate dataset after dropping columns: {clean_columns_01}')

 Total fields (columns) in The New York City Real Estate dataset after dropping columns: 17

In [10]:
housing_df.columns

Index(['Address', 'Building Name', 'Neighborhood', 'City', 'PPSF', 'Bd',
       'Full Ba', 'HBa', 'Sq Ft', 'Compass Property Type', 'DOM',
       'Listed Date', 'Listed Price', 'Sold Price', 'Sold Date', 'ZIP',
       'Year Built'],
      dtype='object')

#### Rename columns

In [11]:
# Rename columns 

housing_df.rename(columns={'Address': 'address', 'Building Name': 'building_name', 'Neighborhood': 'neighborhood', 
                              'City': 'borough', 'PPSF': 'ppsf', 'Bd': 'bed', 'Full Ba': 'full_bath', 'HBa': 'half_bath',
                              'Sq Ft': 'sq_ft','Compass Property Type': 'property_type', 
                              'DOM': 'days_on_market', 'Listed Date': 'listed_date',
                              'Listed Price': 'listed_price', 'Sold Price': 'sold_price', 'Sold Date': 'sold_date',
                              'ZIP': 'zipcode','Year Built': 'year_built'}, inplace=True)

In [12]:
housing_df.columns

Index(['address', 'building_name', 'neighborhood', 'borough', 'ppsf', 'bed',
       'full_bath', 'half_bath', 'sq_ft', 'property_type', 'days_on_market',
       'listed_date', 'listed_price', 'sold_price', 'sold_date', 'zipcode',
       'year_built'],
      dtype='object')

#### Check & Update Datatypes

In [13]:
housing_df.dtypes

address            object
building_name      object
neighborhood       object
borough            object
ppsf               object
bed                object
full_bath         float64
half_bath         float64
sq_ft              object
property_type      object
days_on_market     object
listed_date        object
listed_price       object
sold_price         object
sold_date          object
zipcode            object
year_built        float64
dtype: object

In [14]:
# Convert ppsf to float by removing $ sign with a replace( ) and convert to float using astype( ) function
housing_df[housing_df.columns[4]] = housing_df[housing_df.columns[4]].replace('[\$,]', '', regex=True).astype(float)

columns = ['days_on_market', 'listed_price', 'sold_price']
housing_df[columns] = housing_df[columns].apply(pd.to_numeric, errors='coerce', axis=1)

#### Drop all rows where zipcode = NaN

In [15]:
housing_df = housing_df.dropna(subset=['zipcode'])

rows_after_zipcode = len(housing_df)
print(f'After removing all rows with a NaN value under zipcode column, there were {rows_after_zipcode} rows (sold listings) remaining')

After removing all rows with a NaN value under zipcode column, there were 40242 rows (sold listings) remaining

#### Change all string column values to lower case

In [16]:
# Convert all string values to lowercase
housing_df = housing_df.applymap(lambda s:s.lower() if type(s) == str else s)

### Save clean dataframe as csv

In [17]:
housing_df.to_csv("Output/real_estate_clean.csv")