In [89]:
import os 
import pandas as pd
import numpy as np
from dotenv import load_dotenv
from sqlalchemy import create_engine

In [92]:
# Admin 
load_dotenv('./.env')
pkey = os.getenv('pkey')
engine = create_engine(f'postgresql://postgres:{pkey}@localhost:5432/etl')

In [41]:
def matchZipID(df, colname):
    ids = []
    for zipcode in df[colname]:
        for i, code in enumerate(zipcode_df.zipcode):
            if zipcode == code:
                ids.append(zipcode_df.iloc[i, 0].round())
    return pd.DataFrame(ids)

In [86]:
# Cleaning housing data
zipcode_df = pd.read_csv('../ryan/Resources/zipcodes.csv')
zipcode_df = zipcode_df[['zipcodeID', 'zipcode']]
housing_df = pd.read_csv('real_estate_clean.csv', low_memory=False)
housing_df = housing_df[housing_df['zipcode'] != '179,0']
housing_df = housing_df[housing_df['zipcode'] != 'apt5j']
housing_df = housing_df[housing_df['zipcode'].notna()]
housing_df['zipcode'] = housing_df['zipcode'].str.split('.', expand=True).drop(columns=1).astype('int64')
housing_df['zipcode'] = matchZipID(housing_df, 'zipcode')
housing_df = housing_df[housing_df['zipcode'].notna()]
housing_df['zipcode'] = housing_df['zipcode'].apply(round)
housing_df = housing_df.rename(columns={'zipcode': 'zipcodeID'})
housing_df.head()

,address,building_name,neighborhood,borough,ppsf,bed,full_bath,half_bath,sq_ft,property_type,days_on_market,listed_date,listed_price,sold_price,sold_date,zipcodeID,year_built
0,"219 w 14th st, unit 2f",219 w 14th st,chelsea,manhattan,1646.0,1,2.0,NaN,"1,000",condo,75.0,08/02/2019,NaN,NaN,01/29/2020,9,1900.0
1,"315 w 70th st, unit 6a",315 w 70th st,upper west side,manhattan,NaN,1,1.0,NaN,NaN,co-op,60.0,03/13/2019,NaN,NaN,01/16/2020,20,1963.0
2,"306 w 100th st, unit 56",306 w 100th st,upper west side,manhattan,NaN,1,1.0,NaN,NaN,co-op,122.0,07/25/2019,NaN,NaN,02/03/2020,22,1940.0
3,"38 w 9th st, unit 1",the portsmouth,greenwich village,manhattan,NaN,2,3.0,1.0,NaN,co-op,72.0,09/11/2019,NaN,NaN,02/04/2020,9,1900.0
4,"48 w 86th st, unit 2",48 w 86th st,upper west side,manhattan,1296.0,2,2.0,1.0,"1,800",co-op,134.0,05/16/2019,NaN,NaN,01/06/2020,21,1900.0

In [93]:
housing_df.to_sql(name='housing', con=engine, if_exists='replace', index=True)